
<div class="card mx-auto" style="width: 280px;">
    <img src="{{producto.urlImagen}}" class="card-img-top" alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">{{producto.id}}</h5>
      <p class="card-text">
        <label style="color: rgb(238, 12, 50);">Nombre:</label> {{producto.nombre}}</p>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">
        <label style="color: blue;">Precio:</label> {{producto.precio}}</li>
      
      <li class="list-group-item px-4">
        <label style="color: blue;">Descripcion:</label> {{producto.des}}</li>
    </ul>
    <div class="card-body">
      <button [routerLink]="['/productos']" class="btn btn-success">Regresar</button>
      
    </div>
  </div>