<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
      
        <th scope="col">Imagenes</th>
        <th scope="col">ACCIONES</th>
      
      </tr>
    </thead>
    <tbody>
        @for (item of productos; track item) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>
          <button [routerLink]="['/productos', item.id]">Detalles</button>
        </td> 
        <td>{{item.precio}}</td>  
       
        <td>
            <img src="{{item.urlImagen}}" height="200">
        </td> 
        <td>
          <button class="btn btn-primary" (click)="agregarCarrito(item)">AGREGAR AL CARRITO</button><br><br>
          <button class="btn btn-success"[routerLink]="['/formulario',item.id]">EDITAR</button><br>
          <br>
           <button class="btn btn-danger" (click)="eliminar(item.id)" >ELIMINAR</button><br>

        </td> 
      </tr>
    }
    </tbody>


  </table><br>


  <br>
  <h3>AGREGAR NUEVO PRODUCTO</h3>
    <form (ngSubmit)="guardar(formulario)" #formulario ='ngForm'>
      <label>Ingresar ID</label>
      <input type="text" name="id" [(ngModel)]="id"  class="form-control">
  
      <label>Ingrese Nombre</label>
      <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control">
  
      <label>Ingrese el Precio</label>
      <input type="number" name="precio" [(ngModel)]="precio" class="form-control">
      <label>Ingrese la descripcion</label>
      <input type="text" name="descripcion" [(ngModel)]="descripcion" class="form-control">
  
      <label for="imagen">Agregar Imagen (URL)</label>
            <input type="text" id="urlImagen" name="urlImagen" [(ngModel)]="urlImagen">

      <button type="submit">Guardar</button><br>
      <br>
  </form>
  <div >
    <button (click)="cerrar()">CERRAR</button>
   
   </div>

