/* Estilos generales para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.table thead {
    background-color: #4CAF50;
    color: #ffffff;
}

.table th, .table td {
    text-align: left;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Mejora la visibilidad de las celdas alternando colores de fondo */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Estilos específicos para imágenes dentro de la tabla */
.table img {
    width: auto;
    height: 100px; /* Modificado para mejor visualización */
    border-radius: 5px;
}

/* Estilos para botones dentro de la tabla */
.btn {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Estilos para hacer la tabla más responsiva */
@media (max-width: 768px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
