<section class="titulo">
    <h2>ARANDA TECH</h2>
    <section class="subtitulo">
        <h4> BINVENIDOS ARANDA TECH</h4>
        
    </section>
  
    <section class="lista-productos">
        <hr />
        <div class="tipo">
            <img src="../../../assets/images/smartphone.jpeg" alt="smart" />
            <h3>SMART-PHONE</h3><br>
            <p>Aprovecha nuestras ofertas en tus juegos favoritos de PS5 de la temporada, también contamos con descuentos especiales para suscriptores.</p>
        </div>
        <hr />
        <div class="tipo">
            <img src="../../../assets/images/laptop.jpeg" alt="laptop" />
            <h3>LAPTOPS</h3><br>
            <p>Aprovecha nuestras ofertas en tus juegos favoritos de PC de la temporada, también contamos con descuentos especiales para suscriptores.</p>
        </div>
        <hr />
        <div class="tipo">
            <img src="../../../assets/images/tablet.jpeg" alt="tablet" />
            <h3>TABLETS</h3><br>
            <p>Aprovecha nuestras ofertas en tus juegos favoritos de XBOX ONE de la temporada, también contamos con descuentos especiales para suscriptores.</p>
        </div>
    </section>
  </section>